<!DOCTYPE html>
<html lang="de">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />

    <link rel="icon" href="/static/images/favicon.png">

    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='libraries/JQuery/jquery-3.5.1.min.js') }}"></script>

    <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/Select2/select2.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='libraries/Select2/select2.min.js') }}"></script>
    
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/database.js"></script>

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>

<body>

    <main>
        {% block content %} 
        {% endblock %} 
    </main>
    
    {% block javascript %}
    {% endblock %}

</body>
</html>